@import "tailwindcss";

@theme {
    --color-crimson: #dc143c;
}

@keyframes blink {
    50% { opacity:0; }
}

.animate-blink {
    animation: blink 0.8s infinite;
}

body::-webkit-scrollbar {
    display: none;
}

.material-symbols-outlined {
    font-size: clamp(1rem, 3vw, 1.5rem); /* Scale icons */
}